.Canvas{
    display:flex;
    height: 100%;
}
.galleryButton{
    background-color: transparent;
    border: none;
    text-align: center;
    font-weight: 100;
    font-size: 53px;
    width: 15%;
    line-height: 500px;
    color:rgb(185,122,87);
    transition:1s ease-in-out;
}
.galleryButton.right{
    
}
.galleryButton.left{
   
}
.galleryButton:hover{
    transform:scale(1.01);
    cursor: pointer;
}