.Canvas{
    display:flex;
    height: 100%;
}
.galleryButton{
    background-color: transparent;
    border: none;
    text-align: center;
    font-weight: 100;
    font-size: 53px;
    width: 15%;
    line-height: 500px;
}
.galleryButton.right{
    margin-right:10%;
}
.galleryButton:hover{
    background-color:whitesmoke;
}