.content{
    width:100%;
    height:500px;
}

#VerticalMenu{
    width:100px;
    text-align:left;
}
.navButton{
    background-color: transparent;
    border: none;
    margin-right: 100%;
    height: 30%;
}
.navButton:hover{
    scale:(1.05, 1.05);
}
#mainPage{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: stretch;
}
.subMenu.visible{
    transform:translate(0px,0);
}
.subMenu{
    transform:translate(-300px,0);
    transition: .5s ease-in-out;
}
.navDiv{
    height: 30%;
    width: 100%;
    overflow:hidden;
}