.content{
    width:100%;
    height:500px;
}

#VerticalMenu{
    width:100px;
    text-align:left;
}
.navButton{
    background-color: transparent;
    border: none;
    margin-right: 100%;
    height: 30%;
    z-index: 99;
    scale:(1, 1);
}
.navButton:hover{
    scale:(1.05, 1.05);
}
#mainPage{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: stretch;
}
